@media (max-width: 415px) {
  main {
    display: flex;
    flex-direction: column;
  }
  #navbar {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #000000;
  }
  #opcoes {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  #opcoes .p-branco {
    margin: 0 0 10px 0;
  }
  #settings {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #cards-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }

  .card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 20%;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
  }

  .card-large {
    display: flex;
    width: 90%;
    height: 30%;
  }

  #table-graphic {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #table-section {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 72vh;
  }
  #chart {
    margin: 30px 0 30px 0;
    width: 90%;
    height: 50vh;

    display: flex;
    align-items: center;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
}

@media (max-height: 670px) {
  .p-branco {
    margin: 0;
    padding: 0;
  }
}

@media (max-height: 750px) {
  #table-section {
    height: 90vh;
  }
}
