#table-section {
  margin-top: 5%;
  margin-left: 8%;
  width: 50%;
  border-radius: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}

#table-section div {
  padding-top: 20px;
}

.table .centralizar {
  text-align: center;
}
